.product-details-container{
    display: flex;
    justify-content: center;
    align-items: center;
   margin-top:10rem;
   max-width: 100%;
   overflow-x: hidden;
}
@media screen  and (max-width:580px){
    .product-details-container{
    flex-direction:column;
   
    }
    .product-info{
        padding: 3rem 3rem 5rem 3rem;
    }
}
@media screen  and (max-width:320px){
    .product-details-container,.go-back-button,.buy-now-button{
        font-size:12px!important;
    }
    .product-title{
        font-size:18px;
    }

}
.product-image{
    height: 280px;
    width: 280px;
    object-fit: contain;
    margin-right: 20px;
}
.product-info{
    flex:1;
}
.product-title{
    font-size:24px;
}
.product-description{
    margin-top: 10px;
}
.product-price{
    color:#e70808;;
    font-size:24px;
    font-weight:bold;
    padding-top: 20px;
}
.buy-now-button{
    padding: 10px 20px;
   
    border: none;
    color: #fff;
    background-color: #136a91;
    font-size: 16px;
    display:block;
    margin-top:20px
}

.go-back-button{
    padding: 10px 20px;
    display:inline-block;
    border: none;
    color: #fff;
    background-color:#898181;;
    font-size: 16px;
    margin-top: 20px;
    cursor: pointer;
}
.product-info a{
   
        text-decoration: none;
  
}